In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup # to parse census data
import re # regex
import geopandas as gpd
import geopy.distance #to calculate distance between two coordinates
from tqdm import tqdm
import os

In [7]:
# coords_1 = (52.2296756, 21.0122287)
# coords_2 = (52.406374, 16.9251681)

# print(geopy.distance.geodesic(coords_1, coords_2).miles)

173.5818455248231

In [8]:
# county_address_filenames = requests.get('https://raw.githubusercontent.com/uva-bi-sdad/national_address_database/main/data/state_county.json').json()
# len(county_address_filenames)

1585

In [9]:
# county_check_url = 'https://www2.census.gov/geo/maps/DC2020/DC20BLK/st51_va/county/'
# r = requests.get(county_check_url)
# print(r)

<Response [200]>

In [10]:
# soup = BeautifulSoup(r.content)

In [11]:
# va_county_links = []
# for link in soup.findAll('a'):
#     url = link.get('href')
#     if isinstance(url, str) and re.search('c\d{5}_', url): 
#         va_county_links.append(url)
# print(va_county_links)
# print(len(va_county_links))

['c51001_accomack/', 'c51003_albemarle/', 'c51005_alleghany/', 'c51007_amelia/', 'c51009_amherst/', 'c51011_appomattox/', 'c51013_arlington/', 'c51015_augusta/', 'c51017_bath/', 'c51019_bedford/', 'c51021_bland/', 'c51023_botetourt/', 'c51025_brunswick/', 'c51027_buchanan/', 'c51029_buckingham/', 'c51031_campbell/', 'c51033_caroline/', 'c51035_carroll/', 'c51036_charles_city/', 'c51037_charlotte/', 'c51041_chesterfield/', 'c51043_clarke/', 'c51045_craig/', 'c51047_culpeper/', 'c51049_cumberland/', 'c51051_dickenson/', 'c51053_dinwiddie/', 'c51057_essex/', 'c51059_fairfax/', 'c51061_fauquier/', 'c51063_floyd/', 'c51065_fluvanna/', 'c51067_franklin/', 'c51069_frederick/', 'c51071_giles/', 'c51073_gloucester/', 'c51075_goochland/', 'c51077_grayson/', 'c51079_greene/', 'c51081_greensville/', 'c51083_halifax/', 'c51085_hanover/', 'c51087_henrico/', 'c51089_henry/', 'c51091_highland/', 'c51093_isle_of_wight/', 'c51095_james_city/', 'c51097_king_and_queen/', 'c51099_king_george/', 'c51101_king_william/', 'c51103_lancaster/', 'c51105_lee/', 'c51107_loudoun/', 'c51109_louisa/', 'c51111_lunenburg/', 'c51113_madison/', 'c51115_mathews/', 'c51117_mecklenburg/', 'c51119_middlesex/', 'c51121_montgomery/', 'c51125_nelson/', 'c51127_new_kent/', 'c51131_northampton/', 'c51133_northumberland/', 'c51135_nottoway/', 'c51137_orange/', 'c51139_page/', 'c51141_patrick/', 'c51143_pittsylvania/', 'c51145_powhatan/', 'c51147_prince_edward/', 'c51149_prince_george/', 'c51153_prince_william/', 'c51155_pulaski/', 'c51157_rappahannock/', 'c51159_richmond/', 'c51161_roanoke/', 'c51163_rockbridge/', 'c51165_rockingham/', 'c51167_russell/', 'c51169_scott/', 'c51171_shenandoah/', 'c51173_smyth/', 'c51175_southampton/', 'c51177_spotsylvania/', 'c51179_stafford/', 'c51181_surry/', 'c51183_sussex/', 'c51185_tazewell/', 'c51187_warren/', 'c51191_washington/', 'c51193_westmoreland/', 'c51195_wise/', 'c51197_wythe/', 'c51199_york/', 'c51510_alexandria/', 'c51520_bristol/', 'c51530_buena_vista/', 'c51540_charlottesville/', 'c51550_chesapeake/', 'c51570_colonial_heights/', 'c51580_covington/', 'c51590_danville/', 'c51595_emporia/', 'c51600_fairfax/', 'c51610_falls_church/', 'c51620_franklin/', 'c51630_fredericksburg/', 'c51640_galax/', 'c51650_hampton/', 'c51660_harrisonburg/', 'c51670_hopewell/', 'c51678_lexington/', 'c51680_lynchburg/', 'c51683_manassas/', 'c51685_manassas_park/', 'c51690_martinsville/', 'c51700_newport_news/', 'c51710_norfolk/', 'c51720_norton/', 'c51730_petersburg/', 'c51735_poquoson/', 'c51740_portsmouth/', 'c51750_radford/', 'c51760_richmond/', 'c51770_roanoke/', 'c51775_salem/', 'c51790_staunton/', 'c51800_suffolk/', 'c51810_virginia_beach/', 'c51820_waynesboro/', 'c51830_williamsburg/', 'c51840_winchester/']
133

<>:4: DeprecationWarning: invalid escape sequence '\d'

In [12]:
# test_county = county_check_url+va_county_links[0]
# print(test_county)
# r = requests.get(county_check_url+va_county_links[0])

https://www2.census.gov/geo/maps/DC2020/DC20BLK/st51_va/county/c51001_accomack/

In [13]:
# soup = BeautifulSoup(r.content)

In [14]:
# for link in soup.findAll('a'):
#     url = link.get('href')    
#     if isinstance(url, str) and re.search('.txt', url): 
#         print(url)

DC20BLK_C51001_BLK2MS.txt

# Get blocks per county

In [15]:
# url = 'https://www2.census.gov/geo/maps/DC2020/DC20BLK/st51_va/county/c51001_accomack/DC20BLK_C51001_BLK2MS.txt'
# df = pd.read_csv(url,sep=';')
# df

,TYPE,FULLCODE,STATE,COUNTY,TRACT,BLOCK,PLACE,COUSUB,CONCITY,AIANNH,SHEETS
0,Block,510010901011000,51,1,901.01,1000,16512.0,91196,NaN,NaN,"3,10"
1,Block,510010901011001,51,1,901.01,1001,16512.0,91196,NaN,NaN,10
2,Block,510010901011002,51,1,901.01,1002,16512.0,91196,NaN,NaN,10
3,Block,510010901011003,51,1,901.01,1003,16512.0,91196,NaN,NaN,10
4,Block,510010901011004,51,1,901.01,1004,16512.0,91196,NaN,NaN,10
...,...,...,...,...,...,...,...,...,...,...,...
2178,Block,510019902000008,51,1,9902.00,8,NaN,92096,NaN,NaN,16
2179,Block,510019902000010,51,1,9902.00,10,NaN,92246,NaN,NaN,"16,20"
2180,Block,510019902000011,51,1,9902.00,11,NaN,92246,NaN,NaN,16
2181,Block,510019902000012,51,1,9902.00,12,NaN,92396,NaN,NaN,20
2182,Block,510019902000013,51,1,9902.00,13,NaN,92396,NaN,NaN,20

In [16]:
# df['BLOCK'].unique()

array([1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010,
       1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021,
       1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032,
       1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043,
       1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054,
       1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033,
       2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044,
       2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055,
       2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066,
       2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077,
       2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088,
       2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 1065, 1066,
       1067, 1068, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008,
       3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019,
       3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030,
       3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041,
       3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052,
       3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063,
       3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074,
       3075, 3076, 3077, 3078, 1069, 1070, 1071, 1072, 1073, 1074, 1075,
       4000, 4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009, 4010,
       4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021,
       4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032,
       4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043,
       4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054,
       5000, 5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010,
       5011, 5012, 5013, 5014, 5015, 5016, 5017, 5018, 5019, 5020, 5021,
       5022, 5023, 5024, 5025, 5026, 5027, 5028, 5029, 5030, 5031, 5032,
       5033, 5034, 5035, 5036, 5037, 5038, 5039, 5040, 5041, 5042, 5043,
       5044, 5045, 5046, 5047, 5048, 5049, 5050, 5051, 5052, 5053, 5054,
       5055, 5056, 5057, 5058, 5059, 5060, 5061, 5062, 5063, 5064, 5065,
       5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076,
       5077, 5078, 5079, 5080, 5081, 1076, 1077, 1078, 1079, 1080, 1081,
       1082, 1083, 1084, 1085, 1086, 1087, 2098, 2099, 2100, 2101, 2102,
       2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113,
       2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124,
       2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135,
       2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146,
       2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156,    1,
          2,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
         13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,
         24])

# Get block centroid lat lon

In [17]:
# Download the TIGER files for blocks (i.e., https://www2.census.gov/geo/tiger/TIGER2020/TABBLOCK20/)

In [3]:
# Set filepath
fp = "../data/tl_2020_51_tabblock20/tl_2020_51_tabblock20.shp"

# Read file using gpd.read_file()
block_df = gpd.read_file(fp)

In [4]:
block_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 163491 entries, 0 to 163490
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   STATEFP20   163491 non-null  object
 1   COUNTYFP20  163491 non-null  object
 2   TRACTCE20   163491 non-null  object
 3   BLOCKCE20   163491 non-null  object
 4   GEOID20     163491 non-null  object
 5   NAME20      163491 non-null  object
 6   MTFCC20     163491 non-null  object
 7   UR20        163491 non-null  object
 8   UACE20      83680 non-null   object
 9   UATYPE20    83680 non-null   object
 10  FUNCSTAT20  163491 non-null  object
 11  ALAND20     163491 non-null  int64
 12  AWATER20    163491 non-null  int64
 13  INTPTLAT20  163491 non-null  object
 14  INTPTLON20  163491 non-null  object
 15  HOUSING20   163491 non-null  int64
 16  POP20       163491 non-null  int64
 17  geometry    163491 non-null  geometry
dtypes: geometry(1), int64(4), object(13)
memory usage: 22.5+ MB

In [5]:
block_df['centroid'] = block_df['geometry'].centroid
block_df

/var/folders/31/_flrh_251y578sg72lx1yb780000gn/T/ipykernel_29509/1183721723.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  block_df['centroid'] = block_df['geometry'].centroid

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,HOUSING20,POP20,geometry,centroid
0,51,065,020101,1027,510650201011027,Block 1027,G5040,R,NaN,NaN,S,1547604,0,+37.8704905,-078.2665116,18,40,"POLYGON ((-78.27375 37.87051, -78.27324 37.870...",POINT (-78.26651 37.87049)
1,51,197,050101,1061,511970501011061,Block 1061,G5040,U,97453,U,S,15055,0,+36.9409610,-081.0882937,6,8,"POLYGON ((-81.08860 36.94152, -81.08830 36.941...",POINT (-81.08829 36.94096)
2,51,197,050101,3063,511970501013063,Block 3063,G5040,R,NaN,NaN,S,11611,0,+36.9412795,-080.9753199,0,0,"POLYGON ((-80.97608 36.94150, -80.97607 36.941...",POINT (-80.97532 36.94128)
3,51,197,050301,1036,511970503011036,Block 1036,G5040,R,NaN,NaN,S,166245,0,+36.8857859,-081.2774449,3,4,"POLYGON ((-81.28102 36.88490, -81.28071 36.885...",POINT (-81.27744 36.88579)
4,51,199,050500,2052,511990505002052,Block 2052,G5040,R,NaN,NaN,S,292731,0,+37.2259510,-076.5020127,0,0,"POLYGON ((-76.50644 37.22507, -76.50640 37.225...",POINT (-76.50201 37.22595)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163486,51,159,040100,3037,511590401003037,Block 3037,G5040,R,NaN,NaN,S,4561610,48673,+37.8986088,-076.7515189,18,38,"POLYGON ((-76.76612 37.88520, -76.76576 37.885...",POINT (-76.74973 37.89810)
163487,51,109,950500,3014,511099505003014,Block 3014,G5040,R,NaN,NaN,S,43464,0,+37.8490036,-077.7906355,3,19,"POLYGON ((-77.79179 37.84769, -77.79164 37.848...",POINT (-77.79064 37.84900)
163488,51,109,950102,1008,511099501021008,Block 1008,G5040,R,NaN,NaN,S,0,4267,+38.0630940,-077.8308694,0,0,"POLYGON ((-77.83180 38.06289, -77.83098 38.063...",POINT (-77.83087 38.06309)
163489,51,650,011800,4009,516500118004009,Block 4009,G5040,U,90892,U,S,81063,0,+37.0129132,-076.3642622,30,188,"POLYGON ((-76.36596 37.01361, -76.36514 37.014...",POINT (-76.36426 37.01291)
163490,51,650,010601,2028,516500106012028,Block 2028,G5040,U,90892,U,S,0,66076,+37.0237499,-076.3415541,0,0,"POLYGON ((-76.34500 37.02314, -76.34476 37.023...",POINT (-76.34155 37.02375)

In [7]:
block_df['id'] = block_df['STATEFP20'] + block_df['COUNTYFP20']
block_df

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,HOUSING20,POP20,geometry,centroid,id
0,51,065,020101,1027,510650201011027,Block 1027,G5040,R,NaN,NaN,S,1547604,0,+37.8704905,-078.2665116,18,40,"POLYGON ((-78.27375 37.87051, -78.27324 37.870...",POINT (-78.26651 37.87049),51065
1,51,197,050101,1061,511970501011061,Block 1061,G5040,U,97453,U,S,15055,0,+36.9409610,-081.0882937,6,8,"POLYGON ((-81.08860 36.94152, -81.08830 36.941...",POINT (-81.08829 36.94096),51197
2,51,197,050101,3063,511970501013063,Block 3063,G5040,R,NaN,NaN,S,11611,0,+36.9412795,-080.9753199,0,0,"POLYGON ((-80.97608 36.94150, -80.97607 36.941...",POINT (-80.97532 36.94128),51197
3,51,197,050301,1036,511970503011036,Block 1036,G5040,R,NaN,NaN,S,166245,0,+36.8857859,-081.2774449,3,4,"POLYGON ((-81.28102 36.88490, -81.28071 36.885...",POINT (-81.27744 36.88579),51197
4,51,199,050500,2052,511990505002052,Block 2052,G5040,R,NaN,NaN,S,292731,0,+37.2259510,-076.5020127,0,0,"POLYGON ((-76.50644 37.22507, -76.50640 37.225...",POINT (-76.50201 37.22595),51199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163486,51,159,040100,3037,511590401003037,Block 3037,G5040,R,NaN,NaN,S,4561610,48673,+37.8986088,-076.7515189,18,38,"POLYGON ((-76.76612 37.88520, -76.76576 37.885...",POINT (-76.74973 37.89810),51159
163487,51,109,950500,3014,511099505003014,Block 3014,G5040,R,NaN,NaN,S,43464,0,+37.8490036,-077.7906355,3,19,"POLYGON ((-77.79179 37.84769, -77.79164 37.848...",POINT (-77.79064 37.84900),51109
163488,51,109,950102,1008,511099501021008,Block 1008,G5040,R,NaN,NaN,S,0,4267,+38.0630940,-077.8308694,0,0,"POLYGON ((-77.83180 38.06289, -77.83098 38.063...",POINT (-77.83087 38.06309),51109
163489,51,650,011800,4009,516500118004009,Block 4009,G5040,U,90892,U,S,81063,0,+37.0129132,-076.3642622,30,188,"POLYGON ((-76.36596 37.01361, -76.36514 37.014...",POINT (-76.36426 37.01291),51650
163490,51,650,010601,2028,516500106012028,Block 2028,G5040,U,90892,U,S,0,66076,+37.0237499,-076.3415541,0,0,"POLYGON ((-76.34500 37.02314, -76.34476 37.023...",POINT (-76.34155 37.02375),51650

In [8]:
len(block_df['id'].unique())

133

# Get address per block by checking if the long lat falls within its geometry

In [9]:
fdf = block_df[['centroid', 'id', 'GEOID20','geometry']]
fdf = fdf.rename(columns = {'id': 'county_id', 'GEOID20': 'geoid20'})
fdf.sort_values('county_id')
fdf

,centroid,county_id,geoid20,geometry
0,POINT (-78.26651 37.87049),51065,510650201011027,"POLYGON ((-78.27375 37.87051, -78.27324 37.870..."
1,POINT (-81.08829 36.94096),51197,511970501011061,"POLYGON ((-81.08860 36.94152, -81.08830 36.941..."
2,POINT (-80.97532 36.94128),51197,511970501013063,"POLYGON ((-80.97608 36.94150, -80.97607 36.941..."
3,POINT (-81.27744 36.88579),51197,511970503011036,"POLYGON ((-81.28102 36.88490, -81.28071 36.885..."
4,POINT (-76.50201 37.22595),51199,511990505002052,"POLYGON ((-76.50644 37.22507, -76.50640 37.225..."
...,...,...,...,...
163486,POINT (-76.74973 37.89810),51159,511590401003037,"POLYGON ((-76.76612 37.88520, -76.76576 37.885..."
163487,POINT (-77.79064 37.84900),51109,511099505003014,"POLYGON ((-77.79179 37.84769, -77.79164 37.848..."
163488,POINT (-77.83087 38.06309),51109,511099501021008,"POLYGON ((-77.83180 38.06289, -77.83098 38.063..."
163489,POINT (-76.36426 37.01291),51650,516500118004009,"POLYGON ((-76.36596 37.01361, -76.36514 37.014..."
163490,POINT (-76.34155 37.02375),51650,516500106012028,"POLYGON ((-76.34500 37.02314, -76.34476 37.023..."

# Assign each address into blocks

In [27]:
# coords_1 = fdf['coor'][0]
# coords_2 = (52.406374, 16.9251681)

# print(geopy.distance.geodesic(coords_1, coords_2).miles)

# Convert long lat to coordinate, because distance is calculated using a coordinate

In [30]:
cadf = pd.read_csv("https://github.com/uva-bi-sdad/national_address_database/raw/main/data/va_accomack.csv.xz")
cadf['coor'] = cadf.apply(lambda x: (x['longitude'], x['latitude']), axis=1)
cadf

,state,county,zip,longitude,latitude,address,id,coor
0,va,accomack,23420,-75.782732,37.586385,"33282 grant street,painter,va,23420",va_accomack,"(-75.78273194373745, 37.586384624451455)"
1,va,accomack,23480,-75.687351,37.610529,"7 richardson avenue,wachapreague,va,23480",va_accomack,"(-75.68735058936421, 37.610528599630726)"
2,va,accomack,23480,-75.689122,37.610878,"17 richardson avenue,wachapreague,va,23480",va_accomack,"(-75.68912243182051, 37.6108780537332)"
3,va,accomack,23480,-75.687581,37.610198,"40 brooklyn avenue,wachapreague,va,23480",va_accomack,"(-75.68758139979836, 37.61019849733271)"
4,va,accomack,23480,-75.686306,37.610433,"1 richardson avenue,wachapreague,va,23480",va_accomack,"(-75.6863059726563, 37.61043334427158)"
...,...,...,...,...,...,...,...,...
26417,va,accomack,23417,-75.810774,37.709995,"15227 broadway road,onancock,va,23417",va_accomack,"(-75.81077434653461, 37.709995318705616)"
26418,va,accomack,23410,-75.761638,37.653465,"28361 beacon road,melfa,va,23410",va_accomack,"(-75.76163822795358, 37.653464754699584)"
26419,va,accomack,23356,-75.419386,37.989802,"3238 dock court,greenbackville,va,23356",va_accomack,"(-75.41938613419619, 37.98980185736946)"
26420,va,accomack,23356,-75.422857,37.989581,"3373 captains corr,greenbackville,va,23356",va_accomack,"(-75.42285705018088, 37.9895806209073)"
26421,va,accomack,23356,-75.418670,37.987332,"3339 blackbeard road,greenbackville,va,23356",va_accomack,"(-75.4186702020676, 37.98733168728326)"

In [50]:
def match_address(block_df, block_address_df, pbar=None):  
    matched_address = []
    distances = []
    matched_coor = []
    
    i = 0
    for coor in block_df['centroid']:
        fip = block_df[block_df['centroid'] == coor]['matched_fips'].values[0]
        pdf = block_address_df[block_address_df['fips'] == fip]
        block_address_df['dist'] = pdf['coor'].apply(lambda x: geopy.distance.geodesic(x, coor).miles)
        # find the minimum value in a data frame
        element = pdf[pdf['dist'] == min(pdf['dist'])]
        matched_address.append(element['address'].values[0])
        matched_coor.append(element['coor'].values[0])
        distances.append(element['dist'].values[0])
        
        i+= 1
        if pbar:
            descriptor = cadf['id'].unique()[0]
            pbar.set_description('parsing %s (%s/%s)' % (descriptor, i , len(block_df['centroid'])))

    block_df['matched_address'] = matched_address
    block_df['distance_to_address'] = distances
    block_df['matched_coor'] = matched_coor
    return block_df

In [32]:
def match_fips(block_df, county_address_df, pbar=None):
    matched_fips = []
    i = 0
    for coor in block_df['centroid']:
        req = "https://geo.fcc.gov/api/census/area?lat={lat}&lon={lon}%09&censusYear=2020&format=json".format(lat=coor[1], lon=coor[0])
        r = requests.get(req)
        j = r.json()
        matched_fips.append(j['results'][0]['block_fips'])
        i+= 1
        if pbar:
            descriptor = county_address_df['id'].unique()[0]
            pbar.set_description('parsing %s (%s/%s)' % (descriptor, i , len(block_df['centroid'])))
    block_df['matched_fips'] = matched_fips
    return block_df

In [33]:
# storing the output in a different frame can be useful for referencing in the future
tdf

                                        centroid county_id          geoid20
15232   (-75.49616367377165, 37.940577076715115)     51001  510010902011043
140561   (-75.62544217367194, 37.69145725404653)     51001  510010904022049
19571      (-75.720769033005, 37.69269625464571)     51001  510010907001024
83454   (-75.60118876981656, 37.847914947419994)     51001  510010904011032
142032   (-76.03012262200318, 37.91877491148593)     51001  510010906001037
...                                          ...       ...              ...
137449   (-75.55510908512346, 37.76052723139519)     51001  510010904012081
109859  (-75.72617017320292, 37.638244391396036)     51001  510010907002026
145707   (-75.39951781521943, 37.92778291188801)     51001  510019802001037
107305  (-75.73599923177711, 37.560774748680174)     51001  510010908002040
113286   (-75.74140783505165, 37.74748487789173)     51001  510010906002067

[100 rows x 3 columns]

In [34]:
tdf['distance_to_address'].describe()

KeyError: 'distance_to_address'

In [ ]:
tdf[tdf['distance_to_address']> 1]

# For each block, get info from the NAD, then return the closest

county_address_filenames

In [35]:
va = [c for c in county_address_filenames if c.split('_')[0]=='va']
va

['va_accomack',
 'va_albemarle',
 'va_alexandria_city',
 'va_alleghany',
 'va_amelia',
 'va_amherst',
 'va_appomattox',
 'va_arlington',
 'va_augusta',
 'va_bath',
 'va_bedford',
 'va_bland',
 'va_botetourt',
 'va_bristol_city',
 'va_brunswick',
 'va_buchanan',
 'va_buckingham',
 'va_buena_vista_city',
 'va_campbell',
 'va_caroline',
 'va_carroll',
 'va_charles_city',
 'va_charlotte',
 'va_charlottesville_city',
 'va_chesapeake_city',
 'va_chesterfield',
 'va_clarke',
 'va_colonial_heights_city',
 'va_covington_city',
 'va_craig',
 'va_culpeper',
 'va_cumberland',
 'va_danville_city',
 'va_dickenson',
 'va_dinwiddie',
 'va_emporia_city',
 'va_essex',
 'va_fairfax',
 'va_fairfax_city',
 'va_falls_church_city',
 'va_fauquier',
 'va_floyd',
 'va_fluvanna',
 'va_franklin',
 'va_franklin_city',
 'va_frederick',
 'va_fredericksburg_city',
 'va_galax_city',
 'va_giles',
 'va_gloucester',
 'va_goochland',
 'va_grayson',
 'va_greene',
 'va_greensville',
 'va_halifax',
 'va_hampton_city',
 'va_hanover',
 'va_harrisonburg_city',
 'va_henrico',
 'va_henry',
 'va_highland',
 'va_hopewell_city',
 'va_isle_of_wight',
 'va_james_city',
 'va_king_and_queen',
 'va_king_george',
 'va_king_william',
 'va_lancaster',
 'va_lee',
 'va_lexington_city',
 'va_loudoun',
 'va_louisa',
 'va_lunenburg',
 'va_lynchburg_city',
 'va_madison',
 'va_manassas_city',
 'va_manassas_park_city',
 'va_martinsville_city',
 'va_mathews',
 'va_mecklenburg',
 'va_middlesex',
 'va_montgomery',
 'va_nelson',
 'va_new_kent',
 'va_newport_news_city',
 'va_norfolk_city',
 'va_northampton',
 'va_northumberland',
 'va_norton_city',
 'va_nottoway',
 'va_orange',
 'va_page',
 'va_patrick',
 'va_petersburg_city',
 'va_pittsylvania',
 'va_poquoson_city',
 'va_portsmouth_city',
 'va_powhatan',
 'va_prince_edward',
 'va_prince_george',
 'va_prince_william',
 'va_pulaski',
 'va_radford_city',
 'va_rappahannock',
 'va_richmond',
 'va_richmond_city',
 'va_roanoke',
 'va_roanoke_city',
 'va_rockbridge',
 'va_rockingham',
 'va_russell',
 'va_salem_city',
 'va_scott',
 'va_shenandoah',
 'va_smyth',
 'va_southampton',
 'va_spotsylvania',
 'va_stafford',
 'va_staunton_city',
 'va_suffolk_city',
 'va_surry',
 'va_sussex',
 'va_tazewell',
 'va_virginia_beach_city',
 'va_warren',
 'va_washington',
 'va_waynesboro_city',
 'va_westmoreland',
 'va_williamsburg_city',
 'va_winchester_city',
 'va_wise',
 'va_wythe',
 'va_york']

In [36]:
fips_county = pd.read_csv('https://raw.githubusercontent.com/uva-bi-sdad/national_address_database/main/data/fips_county.csv.xz', dtype={'fips': object}) # read fips as a string
fips_county

       fips             county
0     01000            alabama
1     01001     autauga_county
2     01003     baldwin_county
3     01005     barbour_county
4     01007        bibb_county
...     ...                ...
3190  56037  sweetwater_county
3191  56039       teton_county
3192  56041       uinta_county
3193  56043    washakie_county
3194  56045      weston_county

[3195 rows x 2 columns]

In [38]:
import warnings
warnings.filterwarnings(action="ignore")

# Insert the fcc column

In [39]:
pbar = tqdm(fdf['county_id'].unique())

for county in pbar:    
    cdf = fdf[fdf['county_id']==county]
    # now get the name of the file that corresponds with the county name
    county_name = fips_county[fips_county['fips'] == county]['county'].values[0]
    # print(county_name)
    cad = [s for s in va if county_name.replace('_county','') in s]
    if len(cad) >1: # if there can be two things mapped, this because the county is removed, so you can remove the selection with city
        cad = [v for v in cad if not 'city' in v]
   
    assert len(cad) == 1, 'Coud not find: %s' % county_name
    cad = cad[0]
    save_file_name = '../data/%s_fcc.csv.xz' % cad
    
    # skip current one if it already exists   
    if os.path.isfile(save_file_name):
        continue  
    cadf = pd.read_csv("https://github.com/uva-bi-sdad/national_address_database/raw/main/data/%s.csv.xz" % cad)
    # print(cadf)
    
    # Now, get the cloest address to the given block address and return it if is close enough (1 mile)
    cadf['coor'] = cadf.apply(lambda x: (x['longitude'], x['latitude']), axis=1)
    descriptor = cadf['id'].unique()[0]
    pbar.set_description('parsing %s' % descriptor)
    cdf = match_fips(cdf, cadf, pbar)
    cdf.to_csv(save_file_name, index=False)
    cdf

parsing va_poquoson_city (129/129): 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 133/133 [3:04:36<00:00, 83.28s/it]

# Match block to address given fips appended df

In [49]:
pbar = tqdm(fdf['county_id'].unique())

for county in pbar:    
    # now get the name of the file that corresponds with the county name
    county_name = fips_county[fips_county['fips'] == county]['county'].values[0]
    # print(county_name)
    cad = [s for s in va if county_name.replace('_county','') in s]
    if len(cad) >1: # if there can be two things mapped, this because the county is removed, so you can remove the selection with city
        cad = [v for v in cad if not 'city' in v]
   
    assert len(cad) == 1, 'Coud not find: %s' % county_name
    cad = cad[0]
    
    # read the fcc file
    cdf = pd.read_csv('../data/va_fcc/%s_fcc.csv.xz' % cad)    
    # save file does not have fcc
    save_file_name = '../data/%s.csv.xz' % cad
    
    # skip current one if it already exists   
    if os.path.isfile(save_file_name):
        continue  
    cadf = pd.read_csv("https://github.com/uva-bi-sdad/national_address_database/raw/main/data/%s.csv.xz" % cad)
    # print(cadf)
    
    # Now, get the cloest address to the given block address and return it if is close enough (1 mile)
    cadf['coor'] = cadf.apply(lambda x: (x['longitude'], x['latitude']), axis=1)
    descriptor = cadf['id'].unique()[0]
    pbar.set_description('parsing %s' % descriptor)
    cdf = match_address(cdf, cadf, pbar)
    cdf.to_csv(save_file_name, index=False)
    cdf

parsing va_loudoun:   8%|████████████                                                                                                                                      | 11/133 [00:01<00:14,  8.58it/s]

KeyError: 'fips'

In [ ]:
pdf = pd.read_csv("https://github.com/uva-bi-sdad/national_address_database/raw/main/data/%s.csv.xz" % va[0])
pdf

# Get county address csv by fips

In [ ]:
fip = fips_county[fips_county['county'].str.contains('accomack')]['fips'].values[0]
fip

In [ ]:
pt = data.iloc[0]['centroid']
print(pt.x)
print(pt.y)

In [ ]:
pdf['dist'] = geopy.distance.geodesic(coords_1, coords_2).miles